html{
    font-size: 10px;
    scroll-behavior: smooth;
   
}
body{
    font-size: 1.6rem;
    width: 1440px;
     display: flex;
     flex-direction: column;
     margin:auto;
       }
   *{
    box-sizing: border-box;
   }
.wrapper{
    width: 1440px;
    padding-left:109px;
    padding-right: 109px;
    box-sizing: border-box;
    margin:auto;
}

h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}
h2{
    font-family: Inka, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}
h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
p{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}

.header_wrapper{
    display: flex;
    width:1440px;
    background: #EDF2EC;
    align-items: center;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 42px;
    }
.header_logo{
    display: flex;
    align-content: flex-end;
    margin-top: -4px;
   }

.logo_text_wrapper{
    margin-top: -1,5px;
}
.logo_text{
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000; 
    padding-bottom: 0;
    margin-bottom: -1px;
}
li a {
    text-decoration: none;
    color:#010201
    }

    .first_link {
    color: #E06733;}

ul.navigation li {
    display: inline;
    list-style-type:none;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    display: inline-block;
    padding-left: 43px;
    color: #010201;
    }

    ul.navigation li:first-child {
    font-family: Inika;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #E06733 !important;
   }

   
.welcome_wrapper{
    width:1440px;
    background: #EDF2EC;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 52px;
}
.welcome_content{
    margin-left: 224px;
}
.welcome_title{
       color: #717171;
    margin-bottom: 42px;
}
.welcome_title h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}
.text_higlited{
    color: #499A18;
}
.welcome_text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 46px;
     padding-right: 1px;
    color: #636060;
}
.welcome_image{
    width: 448.8px;
    height: 407.36px;
    margin: -25px 0px 0px 0px;
    padding: 3px 10px 0px 0px;;
}

.button{
    cursor: pointer;
}
.button_color_text{
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 14px 27px;
    }
.welcome_button {
    margin-bottom: 37px;
   
}
.about_wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 88px;
    padding-bottom: 97px;
}
.about_content{
    margin-right: 155px;
}
.about_title{
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color:#E06733
}
.about_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    margin-top: 40px;
}
.service_wrapper{
    width:1440px;
    background: #EDF2EC;
    padding-top: 10px;
    padding-bottom: 66px;
}
.packets_title{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: #000000;
}
.service_content{
    display:flex;
    align-items: center;
    margin-bottom: 45px;}

   .service_title{
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;

}
.servise_buttons{
    display:inline;
    margin-left: 151px;
    margin-right: 176px;
}
 .button_sipmle{
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    padding: 11px 38px;
    margin-right: 36px;
    width: 161px;
height: 50px;
 }
 .button_sipmle:hover{
    color:#EDF2EC;
     background-color: #E06733;
 }

 .service_items{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .item{
    text-align: center;
    border: 1px solid #E3E1D5;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 55px;
    cursor: pointer;
 }
 .item_image{ 
    padding-bottom: 5px;
    }

.item_description{
margin-top: -15px;
margin-bottom: 0px;
padding-top: 0px;
padding-bottom: 0px;
}

.item_tilte{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #E06733;
padding-top: 16px;
padding-bottom: 0px;
margin-top: 1px;
margin-bottom: 1px;
 }
.item_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    padding-top: 10px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 36px;
}
.additional_tilte_text{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
color: #000000;
}
.prices_wrapper{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 105px;
    width:1440px;
    padding-top: 5px;
   }
   
   .packets_title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 60px;
}
.price_additional{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-right: 3px;
}

.additional_tilte{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    margin-bottom: 8px;

}
.button_bold_text{
    font-family: Inika;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    padding: 12px 30px;
}
.button_bold_text:hover{
    color:#EDF2EC;
    background-color: #E06733;
}
.additional_button{
    margin-bottom: 38px;
}
.additional_image{
    margin: -7px -10px 0px 0px;
  }
.packet_menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 18px 19px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin-right: 439px;
    margin-bottom: 22px;
    }

.menu_button{
    font-family:Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    border: none;
    background-color: #EDF2EC;
    border-radius: 20px;
    padding: 7px 43px 0px 38px;
    border-radius: 20px;
    margin-bottom: 18px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 15px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    cursor: pointer;
}
.menu_button:hover{
    background-color:#499A18;
    color: #EDF2EC;
}
.contacts_wrapper{
   background: #EDF2EC; 
   display:flex;
    justify-content: space-between;
    margin-top: 28px;
       padding-top: 52px;
    justify-content: flex-start;
}
.contacts_image{
    margin-right: 95px;
}

.contacts_title{
    font-family: Inika;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-left: 10px;
    margin-top: 3px;
  }
.city_button{
      background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
     width: 450px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    text-align: left;
    padding-left: 22px;
    margin-top: 96px;
    border:none;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0px 31px 0px 21px;
    cursor: pointer;
}
.city_button:hover{
    background-color:#499A18;
    color: #EDF2EC;
}
.contact_button{
    padding-left: 66px;}

.footer_wrapper{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    display:flex;
    flex-direction: row;
    padding-top: 36px;
    width:1440px;
    margin-left: 0px;
    margin-left: 0px;
    justify-content: space-between;
}
.github_link{
    margin-left: 0px;
    margin-right: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0px;
    padding-left: 0px;
}
.link_word{
    margin: 4px 22px 0px 0px;
    padding: 0px 0px 0px 0px;;
}
.rs_link{
    width: 1440px;
    margin-left: 366px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
    margin: 0px 0px 0px 16px;
    padding: 0px 0px 0px 0px;
}
.social_link{
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;}

    .social_icon{
        margin: 0px 2px 0px 25px;
    padding: 0px 0px 0px 0px;} 
    
    .social_link{
        display: flex;
        justify-content: space-between;
    }
